[project]
	description = Botiful tele presence robot API
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lullabee
[access "refs/for/refs/*"]
	read = group user/lullabee
	push = group user/lullabee
	label-Code-Review = -2..+2 group user/lullabee
	label-Verified = -1..+1 group user/lullabee
	rebase = group user/lullabee
	removeReviewer = group user/lullabee
	submit = group user/lullabee
[access "refs/heads/*"]
	read = group user/lullabee
	create = group user/lullabee
	push = +force group user/lullabee
	pushMerge = group user/lullabee
[access "refs/tags/*"]
	push = +force group user/lullabee
	pushTag = group user/lullabee
	pushSignedTag = group user/lullabee
